<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/students}">Sms</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students/add}">Add Students</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5 card">
            <h3 th:text="${message}" align="center" class="text-success mt-3"></h3>
            <h2 class="text-center mt-3">Add Student</h2>
            <div class="card-body">
                <form th:action="@{/students}" th:object="${student}" method="POST">

                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="firstName" th:field="*{firstName}" class="form-control">
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Name error</p>
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="firstName" th:field="*{lastName}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" th:field="*{email}" class="form-control">
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email error</p>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>