<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
   <div class="container">
       <div class="row">
           <h1>Students List</h1>
       </div>
       <table class="table table-bordered table-striped">
           <thead class="thead-dark">
           <tr>
               <th scope="col">First Name</th>
               <th scope="col">Last Name</th>
               <th scope="col">Email</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
           <tbody>
               <tr th:each = "student : ${students}">
                   <td th:text = "${student.firstName}"></td>
                   <td th:text = "${student.lastName}"></td>
                   <td th:text = "${student.email}"></td>
                   <td class="btn btn-primary">Edit</td>
                   <td class="btn btn-dark">Delete</td>
               </tr>
           </tbody>
       </table>
   </div>
</body>
</html>